.folder{
    margin-top: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.folderIcon, .fileIcon{
    margin-right: 5px;
    color: yellow;
}

.childItems{
    margin-left: 40px;
}

.file{
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
}